@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Banking</h1>
    <p class="lead">Online Banking is an online personal portofolio that helps you to manage your founds, send and receive transactions in live time.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Start Now&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Send Transactions</h2>
        <p>
            Send transactions now fast and secure. Just add the IBAN of the user you want to make the transaction,
            and the payment will be delivered instantly.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Receive Transactions</h2>
        <p>Receive transactions fast and secure, the user inputs your personal IBAN and sends the preferred amount to you. The payment will arrive instantly in your balance.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Platforms</h2>
        <p>Online Banking is supported in other platforms, like windows desktop application, mobile phone application and on web browser.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>